{{ define "main" }}
   <h1>Posts</h1>
   {{ range .Pages }}
      <article>
         <h2>{{ .Title }}</h2>
         {{ .Content }}
         <h5>
            {{ .Date.Format "2006-01-02" }}
         </h5>
      </article>
   {{ end }}
{{ end }}
