<footer>
   <div>
      <nav>
         {{ range .Site.Menus.footer }}
            <a href="{{ .URL }}" title="{{ .Title }} ">
               {{- .Name -}}
            </a>
         {{ end }}
      </nav>
   </div>
</footer>
