<header>
   <nav class="navbar" role="navigation">
      <div class="navbar__left">
         <a href="/"><h2>{{ .Site.Title }}</h2></a>
      </div>
      <div class="navbar__right">
         {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" title="{{ .Title }} "> {{- .Name -}} </a>
         {{ end }}
         <a href="/articles">Articles</a>
         <a href="/tags">Tags</a>
      </div>
   </nav>
</header>
